@charset "UTF-8";

/*
    em HTML é id e em CSS é # (só pode um elemento)
    em HTML é class e em CSS é . (pode vários elementos)
*/
body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 109, 0);
}

h1#titulo {
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: white;
}

h2 {
    color: rgb(73, 109, 71
    )
}

.basico {
    color: rgb(62, 186, 55)
    ;}

.intermediario {
    color: rgb(218, 224, 52);
}

.avançado {
    color: rgb(216, 36, 36);
}
